
/*------------------------------ IMPORTS ---------------------------------*/

@import url("variables.css");
@import url("headerNav.css");
@import url("footer.css");

/*------------------------------ LAYOUT GENERAL ---------------------------------*/
/* vista movil como predeterminada*/
body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 1% 94%;
    height: 400vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

nav #inicio{
    text-decoration: underline;
    cursor: pointer;
}

.boton {
  width: 100px;
  height: 50px;
}


.box {
  background-color: white;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem; 
  border-radius: 1rem;
}


.TextoMenu{
   color: black;
   font-size: 1rem;
   margin: 1rem 3rem;
   text-align: center;
   text-decoration: none;
}

.TextoMenu:hover {
    color: red
}

.titulopagina {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
    color: black;
}
