/*------------------------------ IMPORTS ---------------------------------*/

@import url("variables.css");
@import url("footer.css");
@import url("header_nav.css");
@import url("reset.css");

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10.5% 3% 100% 8%;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "nav"
        "section"
        "footer";
    width: 100%;
    height: 100%;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 0px 0px;
    grid-template-areas:
        "info"
        "nosotros"
        "especialidades"
        "contacto";
    width: 100%;
    height: 100%;
}

.info {
    grid-area: info;
    background-image: url("../recursos/Background.png");
}

.nosotros {
    grid-area: nosotros;
}

.especialidades {
    grid-area: especialidades;
}

.contacto {
    grid-area: contacto;
}

footer {
    grid-area: footer;
}


#introduccion {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: flex-start;
    align-items: center;
    font-family: "principal";
    text-align: center;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

#introduccion h2 {
    color: var(--azul2);
    font-weight: bolder;
    line-height: 150%;
    font-size: 2.2rem;
    border-bottom: 2px solid lightgray;
    padding-bottom: 10px;
}

#introduccion p {
    font-size: 1rem;
    margin-top: 20px;
    line-height: 130%;
    font-family: "secundaria1";
}

/*------------------------ ARTICLES ---------------------------*/

/* ---------------Clase para los items de fondo verde*---------------*/
.funciones_pag_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--azul3);
    text-align: center;
}

article img {
    height: 250px;
}

.funciones_pag_1 h3 a {
    font-family: "principal";
    font-weight: bold;
    text-decoration: underline;
    color: var(--fuenteAlt);
    font-size: 2rem;
    cursor: pointer;
}

.funciones_pag_1 p {
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "principal";
    color: var(--fuenteAlt);
    line-height: 150%;
    font-size: 1.1rem;
}

/* ---------------Clase para los items de fondo blanco---------------*/
.funciones_pag_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: white;
    text-align: center;
}

article img {
    height: 250px;
}

.funciones_pag_2 h3 a {
    font-family: "principal";
    font-weight: bold;
    text-decoration: underline;
    color: var(--azul3);
    font-size: 2rem;
    cursor: pointer;
}

.funciones_pag_2 p {
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "principal";
    color: var(--azul2);
    line-height: 150%;
    font-size: 1.2rem;
}

/*------------------------------ MEDIA QUERIES ---------------------------------*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    section {
        grid-area: section;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        gap: 0px 0px;
        grid-template-areas:
            "info"
            "nosotros"
            "especialidades"
            "contacto";
        width: 100%;
        height: 100%;
    }
}

/* Medium devices (portrait tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    section {
        grid-area: section;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        gap: 0px 0px;
        grid-template-areas:
            "info"
            "nosotros"
            "especialidades"
            "contacto";
        width: 100%;
        height: 100%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    section {
        grid-area: section;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        gap: 0px 0px;
        grid-template-areas:
            "info"
            "nosotros"
            "especialidades"
            "contacto";
        width: 100%;
        height: 100%;
    }
}