.contenedor {
    display: flex;
    flex-wrap: wrap;
    background-color: blueviolet;
    padding: 10px;
    /*border: 2px solid black;*/
}

.contenedor div {
    background-color: bisque;
    width: 48%;
    margin: 5px;
    font-size:70%;
    /*border: 2px solid black;*/
}

img {
    width: 100%;
}